name: Docker Image CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # - name: Set up Docker Buildx Multiplatform
      #   run: |
      #     sudo docker buildx version
      #     sudo docker buildx create --platform=linux/arm64,linux/amd64 --use

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-actions@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v5.0.3
        with:
          major_pattern: "major:"
          minor_pattern: "feat:"
          format: "${major}.${minor}.${patch}-prerelease${increment}"
        id: version

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

        # run: |
        #   docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

      - name: Build and Push
        uses: docker/build-push-action@v4
        env:
          NEW_VERSION: ${{ steps.version.outputs.version }}
          DOCKER_HUB: ${{ secrets.DOCKER_HUB }}
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: $DOCKER_HUB:$NewVersion
      # - name: Build Docker Image
      #   env:
      #     NEW_VERSION: ${{ steps.version.outputs.version }}
      #     DOCKER_HUB: ${{ secrets.DOCKER_HUB }}

      #   run: |
      #     docker buildx build -t $DOCKER_HUB:$NEW_VERSION .
      #     docker buildx build -t $DOCKER_HUB:latest .
      #     echo "New version: $NEW_VERSION"

      # - name: Push Docker Image
      #   env:
      #     NEW_VERSION: ${{ steps.version.outputs.version }}
      #     DOCKER_HUB: ${{ secrets.DOCKER_HUB }}
      #   run: |
      #     docker push $DOCKER_HUB:$NEW_VERSION
      #     docker push $DOCKER_HUB:latest
