name: Docker Image CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  builx:
    runs-on: ubuntu-latest

    steps:
      # - name: Set up Docker Buildx Multiplatform
      #   run: |
      #     sudo docker buildx version
      #     sudo docker buildx create --platform linux/arm64,linux/amd64 --use

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker builx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64,linux/arm64

      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v5.0.3
        with:
          major_pattern: "major:"
          minor_pattern: "feat:"
          format: "${major}.${minor}.${patch}-prerelease${increment}"
        id: version

      - name: Docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

      - name: Build Docker Image
        env:
          NEW_VERSION: ${{ steps.version.outputs.version }}
          DOCKER_HUB: ${{ secrets.DOCKER_HUB }}

        run: |
          docker buildx build -t ndifabio/ecommerce-server:$NEW_VERSION .
          docker buildx build -t ndifabio/ecommerce-server:latest .
          echo "New version: $NEW_VERSION"

      - name: Push Docker Image
        env:
          NEW_VERSION: ${{ steps.version.outputs.version }}
          DOCKER_HUB: ${{ secrets.DOCKER_HUB }}
        run: |
          docker push ndifabio/ecommerce-server:$NEW_VERSION
          docker push ndifabio/ecommerce-server:latest
