name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    
    steps:
    
    - name: Set up Docker
      run: |
        sudo apt-get update
        sudo apt-get install -y docker.io
        sudo docker version
        sudo docker buildx version
        sudo docker buildx create --use
          
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_HUB: ${{ secrets.DOCKER_HUB }}
      run: |
        echo "Iniciando Login"
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "Fin del Login"
        
    
    - name: Build Docker Image
      run: |
        docker buildx build -t ndifabio/ecommerce-server:1.0.1 -platform linux/amd64,linux/arm64 .
      
    - name: Push Docker Image
      run: |
        docker push -t ndifabio/ecommerce-server:1.0.1 .
        
#     - name: Build the Docker image
#       run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

